body {
    background-color: rgba(214, 28, 109, 0.37);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

div.cont {
    margin-bottom: 5%;
    padding: 10px;
    background-color: rgb(214, 28, 109);
    border: 5px solid rgb(70, 101, 47);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

div#stars_rating {
    float: left;
}


form#commentForm {
    float: left;
    text-align: left;
    width: 70%;
    margin-left: 30%;
    padding: 13%;
    background-color: rgb(189, 126, 153);
    border: 5px solid rgb(70, 101, 47);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#commentBTN {
    margin: 3px;
    padding-top: 2px;
    padding-bottom: 1px;
    background-color: rgb(154, 203, 86);
    border-color: rgb(42, 71, 1);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

h5 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

dl {
    margin-left: 3%;
}


h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2:hover {
    color: rgb(88, 4, 41);

}